@model IEnumerable<Mameto.Models.PostModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mameto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Community</title>
</head>

  <body id="body1">
    <div id="div9"><img id="img6" src="~/frontendImgs/mameto.png"> <img id="img7" src="~/frontendImgs/profile img.png"></div>
    <img id="img8" src="~/frontendImgs/logo2.png">
    <div id="div10">
        <a href="https://localhost:7179/" id="aaa"> <button id="p3"><img id="img100" src="~/frontendImgs/home1.png" style="width:15px; position: relative; top: -1.8px;"> Home</button> </a>
        <a href="index"> <button id="p3"><img id="img100" src="~/frontendImgs/community1.png" style="width:18px; position: relative; top: -1.8px;"> Community</button> </a>
        <a href="#"> <button id="p3"><img id="img100" src="~/frontendImgs/specialist1.png" style="width:12px; position: relative; top: -1.8px;"> Specialist</button> </a>
        <a href="kids area.html"> <button id="p3"><img id="img100" src="~/frontendImgs/kids area1.png" style="width:17.5px; position: relative; top: -1.8px;"> Kids area</button> </a>
        <a href="profile.html"> <button id="p3"><img id="img100" src="~/frontendImgs/profile1.png" style="width:15.5px; position: relative; top: -1.8px;"> Profile</button> </a>
        <a href="setting.html"> <button id="p3"><img id="img100" src="~/frontendImgs/settings1.png" style="width:16px; position: relative; top: -1.8px;"> Settings</button> </a>
            @RenderBody()
    </div>
    <a style="text-decoration:none;" asp-action="Add">
            <button type="button" class="btn7">
                     create <br> post
            </button>
    </a>
   </body>
</html>