@using System.Security.Claims;
@model PostModel
@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Mameto.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

            <form asp-action="Add" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                            <textarea name="PContent" id="postinput" type="text" placeholder="What's in your mind?"></textarea>
                            <span asp-validation-for="PContent"></span>
                       
                            <input type="file" accept="image/*" name="Img" style="position:absolute;" multiple>   
                        
                            <input type="hidden" name="UId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                       <div id="post">

                            <button id="postbutton" type="submit" value="Add">Post</button>
                       </div>
            </form>


